parameters:
    level: 9
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    paths:
        - public/
        - scripts/
        - src/
        - tests/
    ignoreErrors:
        - message: '#Class App\\Entity\\.* has an uninitialized property#'
        - message: '#Cannot cast mixed to .*#'
          paths:
              - src/System/Database/Entity.php